#main{
    height: 100%;
}
.nav{
    background: #3FB4FF;
    height: 14vh;
    margin: 6px 3px 3px;
}
.header{
    background: #009245;
}
.content{
    background: #D41440;
}
.footer{
    background: #F1861E;
}
/*mobile*/
@media only screen and (min-width: 270px) and (max-width: 767px){
    .nav{
        height: 20vh;
        margin-bottom: 3px;
    }
    .header{
        height: 20vh;
        margin: 3px;
    }
    .content{
        height: 54vh;
        margin: 3px;
    }
    .footer{;
        display: none;
    }
}
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px){ 
    .nav{
        margin-bottom: 6px;
    }
    .header{
        height: 25vh;
        margin: 3px;
    }
    .content, .footer{
        height: 52vh;
        margin: 3px;
        float: left;
    }
    .content{
        width: 49%;
    }
    .footer{
        float: right;
        width: 49.3%;
    }
}
/*desktop*/
@media only screen and (min-width: 1025px){ 
    .header, .content, .footer{
        height: 75vh;
        margin: 0.31vw;
        float: left;
    }
    .header{
        width: 24%;
    }
    .content{
        width: 54%;
    }
    .footer{
        float: right;
        width: 20%;
    }  
}